{% extends 'base.html' %}
{% load static %}
{% block title %}
about page
{% endblock title %}
{% block content %}
<div class="text-white mx-5 col-sm-10 my-5">
    <h3 class="">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sed quibusdam, doloremque officiis itaque maiores amet rem cum deserunt voluptatibus dolore. Delectus, at quia? Similique recusandae excepturi suscipit pariatur, possimus consectetur iusto?
    </p>
</div>
{% endblock content%}