{% extends 'base.html' %}
{% load static %}
{% block title %}
Signup Page 
{% endblock title %}
{% block content %}
<div class="text-white mx-5 col-sm-8 my-5">
    <h3 class="">Become an Author</h3>
  <form action="" method="POST" novalidate>
   {% csrf_token %}
   {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
    {% endfor %}
   {% endif %}
     {% for field in form %}
     <div class="form-group">
       {{field.label_tag}}{{field}} <small class="text-warning">{{field.errors|striptags}}</small>
      </div>
     {% endfor %}
     <div>
     <input type="submit" value="Submit" class="btn btn-primary mt-1">
    </div>
      {% if form.non_field_errors %}
      
       {% for error in form.non_field_errors %}
       <div class="form-group">
         <span class="alert alert-danger my-3">{{error}}</span> 
       </div>
       {% endfor %}
      {% endif %}
  </form>
</div>
{% endblock content%}